div.container{
    border-style: double;
	width: 600px;
	height: auto;
    margin: 0 auto;
    padding: 1px;
    background-color: #DCDCDC;
    text-align: center;
}

#pagina {
    background-color: #E0FFFF;
}

#retorno {
    text-align: center;
}

a {
    color: #006400;
    font-size: 30px;
}

h1 {
    text-align: center;
    color: #006400;
}