div.container{
    border-style: double;
	width: 1000px;
	height: auto;
    margin: 0 auto;
    padding: 1px;
    background-color: #DCDCDC;
}

#busca {
	text-align: center;
}

#pagina {
    background-image: linear-gradient(to top, white, #BFEFFF);
}

#retorno {
    text-align: center;
}

a {
    color: #006400;
    font-size: 30px;
}

h1 {
    text-align: center;
    color: #006400;
}