<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/> 
        <title>Maratona (Validar codigo)</title>
    </head>
    <body id="corpo">
        <div class="container">
        	<form action="@{Application.show}">
	        	<h1 id="titulo">Validar codigo python com Play Framework! </h1>
	            <p id="Preencher"><strong>Preencha: </strong></p>
	            <div id="superior">
	                <div id="esquerda">
	                    <pre>Nome do arquivo:</pre>
	                    <input id="id" type="text" name="solution.filename">
	                    <br><br>
	                    <pre>Problema:</pre>
	                    <input id="nomeArquivo" type="text" name="solution.problem">
	                </div>
	                <div id="direita">
	                    <pre>Resultado: </pre>
	                    <pre><textarea id="Resultado" rows="7" cols="25" disabled="disabled" name="solution.status">...</textarea></pre>
	                </div>
	            </div>
	            <div id="inferior">
		            <br><br>
	                <p>Codigo:</p>
	                <textarea id="Codigo" name="solution.sourcecode"></textarea>
	                <br><br>
	                <button id="submit" type="submit">Enviar</button>
	                <br><br>
	            </div>
	        </div>
        </form>
		<script>
			var btn = document.getElementById("submit");
			var resultado = document.getElementById("Resultado");
			var valor = "processando";
			var cont=0;
	
			function proccess() {
				valor = valor + ".";
				resultado.value = valor;
				cont++;
				if (cont!=4) {
					setTimeout(proccess, 1000);
				}
			}
			
			var base64;
			var decod;
			
			btn.addEventListener('click', function () {
				alert("Arquivo enviado!");
				base64 = btoa(codigo.value);
				decod = atob(base64);
				alert(base64);
				alert(decod);
				proccess();
			});
			
		</script>
    </body>
</html>

