<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/> 
        <title>Maratona (Validar codigo)</title>
    </head>
    <body id="corpo">
        <div class="container">
        	<form action="@{Application.show}">
	        	<h1 id="titulo">Validar codigo python com Play Framework! </h1>
	            <p id="Preencher"><strong>Preencha: </strong></p>
	            <div id="superior">
	                <div id="esquerda">
	                    <pre>Nome do arquivo:</pre>
	                    <input id="id" type="text" name="solution.filename">
	                    <br><br>
	                    <pre>Problema:</pre>
	                    <input id="problema" type="text" name="solution.problem">
	                </div>
	            </div>
	            <div id="inferior">
		            <br><br>
	                <p>Codigo:</p>
	                <textarea id="Codigo" name="solution.sourcecode" onfocus="testeProblema()"></textarea>
	                <br><br>
	                <button id="submit" type="submit">Enviar</button>
	                <br><br>
	            </div>
	        </div>
        </form>
		<script type="text/javascript" src="/public/javascripts/script.js"></script>
    </body>
</html>

