#{set title:'Home' /}
<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style-show.css"/> 
    <title>Maratona (Validar codigo)</title>
</head>
<body id="pagina">
	<div id="retorno">
        <a href="@{Application.maratona()}">Voltar a pagina de cadastro de algoritmos</a>
    </div>
    <br>
    <div class="container">
        <h1>Lista de programas avaliados: </h1>
        <form action="@{Application.busca}">
	        <input id="id" type="text" name="busca.text">
	        <select type="text" name="busca.tipo">
			  <option value="Status">Status</option>
			  <option value="ID">ID</option>
			  <option value="Periodo">Periodo</option>
			</select>
	        <button type="submit" onclick="abrirBusca()">Buscar</button>
	     </form>
        <h2><pre>${lst}</pre></h2>
    </div>
    <script>
    	function abrirBusca() {
    		window.local.href="/application/busca.html"
    	}
    </script>
</body>