#{set title:'Home' /}
<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style-show.css"/> 
    <title>Maratona (Validar codigo)</title>
</head>
<body id="pagina">
    <div class="container">
        <h1>Lista de programas avaliados: </h1>
        <button>Ordenar por nome</button>
        <button>Ordenar por status</button>
        <h2><pre>${lst}</pre></h2>
    </div>
    <br>
    <div id="retorno">
        <a href="@{Application.maratona()}">Voltar a pagina de cadastro de algoritmos</a>
    </div>
</body>